<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
        <a href="/users">Home</a>
    <h1>User {{one_us[0]['ID']}} </h1>
    <p>Full Name {{one_us[0]['full_name']}} </p>
    <p>Email {{one_us[0]['email']}} </p>
    <p>Created At  {{one_us[0]['created_at']}} </p>
    <p>Last Updated On {{one_us[0]['updated_at']}} </p>
    
</body>
</html>