<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>

        <a href="/users">Home</a>
        <h1>Edit Info </h1>
        <form action="/editInfo" method="POST">
            <p>First Name: <input type="text" placeholder = "fname"  name="fname"></p>
            <p>Last Name: <input type="text" placeholder="lname"  name="lname"></p>
            <p>Email: <input type="text" name="eml"></p>
            <input type="hidden" name="id" value = "{{userId}}">
            <input type="submit" value="Update"> 
        </form>
    
        

</body>
</html>